

.btn{
    padding: 15px 30px;
    transition: background-color .3s ease;
    margin-top: auto;
}

.btn:hover{
    background-color: #000;
}

.btn-secondary{
    background-color: #78C0DE;
}

/*--------------*/
/*--- HEADER ---*/
/*--------------*/

/*--- BANNER ---*/
/*--------------*/

.banner .container{
    padding: 110px 0 140px 0;
    background-image: url(../img/services/Ellipse.png), url(../img/services/parrot.png);
    background-position: 87% 93%, 100% center;
    background-size: 325px 57px, 435px 435px;
    background-repeat: no-repeat;
}

.banner__title{
    width: 447px;
    margin-left: 112px;
}

h1{
    margin-bottom: 21px;
}

/*---------------*/
/*--- CONTENT ---*/
/*---------------*/

main{
    padding-bottom: 170px;
}

main .container{
    display: flex;
    flex-wrap: wrap;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 60px 22px 45px 40px;
    background-position: 100% 0;
    background-size: 150px;
    background-repeat: no-repeat;
    width: 305px;
    height: 421px;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow .3s ease;
    flex: 1 0 auto;
}

.box p{
    width: 230px;
}

.box:nth-child(odd){
    background-image: url(../img/services/pet-green.png);
}

.box:nth-child(even){
    background-image: url(../img/services/pet-blue.png);
}

.box::before{
    content: '';
    width: 100%;
    height: 78px;
    margin-bottom: 20px;
    background-image: url(../img/doctor.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

.box:nth-child(4),
.box:nth-child(8),
.box:nth-child(12){
    margin-right: 0;
}

.box:nth-child(2):before{
    background-image: url(../img/girl.png);
}

.box:nth-child(3):before{
    background-image: url(../img/dog.png);
}

.box:nth-child(4):before{
    background-image: url(../img/puppy.png);
}

.box:nth-child(5):before{
    background-image: url(../img/veterinary.png);
}

.box:nth-child(6):before{
    background-image: url(../img/plus.png);
}

.box:nth-child(7):before{
    background-image: url(../img/uzi.png);
}

.box:nth-child(8):before{
    background-image: url(../img/injection.png);
}

.box:nth-child(9):before{
    background-image: url(../img/passport.png);
}

.box:nth-child(10):before{
    background-image: url(../img/vacsine.png);
}

.box:nth-child(11):before{
    background-image: url(../img/dentist.png);
}

.box:nth-child(12):before{
    background-image: url(../img/emergency.png);
}

h3{
    font-weight: 600;
    font-size: 3rem;
    line-height: 34px;
}

.box:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}